<!DOCTYPE html>
<html>
<head>
    <title>CS109 Final Project - Sonya Jin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
</head>
<body>

    <div id="bachScore" class="sl">Predicted probability of Bach: <span id="scoreValue">0</span></div>

    <div id="update-message"></div>

    <div id="suggest-note-container">
      <div class="container">    
          <div class="btn" onclick="suggestNote();">
              <div class="rounded">
                  <a href="#">Suggest Note</a>
              </div>
              <div class="dot"></div>
          </div>
      </div>
    </div>
    <button id="playCompositionButton" onclick="playNotesSequence()">Play Composition</button>
    <div class="harmonium">
      <div class="white-keys">
        <!-- White Keys -->
        <div class="white" data-sound-url="{{ url_for('static', filename='sounds/1.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 1)" data-note="1"></div>
        <div class="white" data-sound-url="{{ url_for('static', filename='sounds/3.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 3)" data-note="3"></div>
        <div class="white" data-sound-url="{{ url_for('static', filename='sounds/5.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 5)" data-note="5"></div>
        <div class="white" data-sound-url="{{ url_for('static', filename='sounds/6.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 6)" data-note="6"></div>
        <div class="white" data-sound-url="{{ url_for('static', filename='sounds/8.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 8)" data-note="8"></div>
        <div class="white" data-sound-url="{{ url_for('static', filename='sounds/10.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 10)" data-note="10"></div>
        <div class="white" data-sound-url="{{ url_for('static', filename='sounds/12.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 12)" data-note="12"></div>
        <div class="white" data-sound-url="{{ url_for('static', filename='sounds/13.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 13)" data-note="13"></div>
        <div class="white" data-sound-url="{{ url_for('static', filename='sounds/14.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 14)" data-note="14"></div>
        <div class="white" data-sound-url="{{ url_for('static', filename='sounds/16.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 16)" data-note="16"></div>
        <div class="white" data-sound-url="{{ url_for('static', filename='sounds/18.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 18)" data-note="18"></div>
        <div class="white" data-sound-url="{{ url_for('static', filename='sounds/19.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 19)" data-note="19"></div>
        <div class="white" data-sound-url="{{ url_for('static', filename='sounds/21.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 21)" data-note="21"></div>
        <div class="white" data-sound-url="{{ url_for('static', filename='sounds/23.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 23)" data-note="23"></div>
        <div class="white" data-sound-url="{{ url_for('static', filename='sounds/25.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 25)" data-note="25"></div>
        <div class="white" data-sound-url="{{ url_for('static', filename='sounds/26.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 26)" data-note="26"></div>
        <div class="white" data-sound-url="{{ url_for('static', filename='sounds/28.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 28)" data-note="28"></div>
        <div class="white" data-sound-url="{{ url_for('static', filename='sounds/30.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 30)" data-note="30"></div>
        <div class="white" data-sound-url="{{ url_for('static', filename='sounds/31.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 31)" data-note="31"></div>
        <div class="white" data-sound-url="{{ url_for('static', filename='sounds/33.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 33)" data-note="33"></div>
        <div class="white" data-sound-url="{{ url_for('static', filename='sounds/35.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 35)" data-note="35"></div>
        <div class="white" data-sound-url="{{ url_for('static', filename='sounds/37.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 37)" data-note="37"></div>
        <div class="white" data-sound-url="{{ url_for('static', filename='sounds/38.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 38)" data-note="38"></div>
        <div class="white" data-sound-url="{{ url_for('static', filename='sounds/40.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 40)" data-note="40"></div>
        <div class="white" data-sound-url="{{ url_for('static', filename='sounds/42.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 42)" data-note="42"></div>
        <div class="white" data-sound-url="{{ url_for('static', filename='sounds/43.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 43)" data-note="43"></div>
        <div class="white" data-sound-url="{{ url_for('static', filename='sounds/45.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 45)" data-note="45"></div>
        <div class="white" data-sound-url="{{ url_for('static', filename='sounds/47.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 47)" data-note="47"></div>
        <div class="white" data-sound-url="{{ url_for('static', filename='sounds/49.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 49)" data-note="49"></div>
        <div class="white" data-sound-url="{{ url_for('static', filename='sounds/50.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 50)" data-note="50"></div>
        <div class="white" data-sound-url="{{ url_for('static', filename='sounds/52.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 52)" data-note="52"></div>
        <div class="white" data-sound-url="{{ url_for('static', filename='sounds/54.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 54)" data-note="54"></div>
        <div class="white" data-sound-url="{{ url_for('static', filename='sounds/55.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 55)" data-note="55"></div>
        <div class="white" data-sound-url="{{ url_for('static', filename='sounds/57.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 57)" data-note="57"></div>
        <div class="white" data-sound-url="{{ url_for('static', filename='sounds/59.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 59)" data-note="59"></div>
        <div class="white" data-sound-url="{{ url_for('static', filename='sounds/61.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 61)" data-note="61"></div>
    </div>
      <div class="black-keys">
          <!-- Black Keys Group of 2 -->
          <div class="keys-2">
              <div class="black" data-sound-url="{{ url_for('static', filename='sounds/2.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 2)" data-note="2"></div>
              <div class="black" data-sound-url="{{ url_for('static', filename='sounds/4.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 4)" data-note="4"></div>
          </div>
          <!-- Black Keys Group of 3 -->
          <div class="keys-3">
              <div class="black" data-sound-url="{{ url_for('static', filename='sounds/7.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 7)" data-note="7"></div>
              <div class="black" data-sound-url="{{ url_for('static', filename='sounds/9.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 9)" data-note="9"></div>
              <div class="black" data-sound-url="{{ url_for('static', filename='sounds/11.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 11)" data-note="11"></div>
          </div>
          <!-- ... repeat for remaining black keys ... -->
          <div class="keys-2">
              <div class="black" data-sound-url="{{ url_for('static', filename='sounds/14.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 14)" data-note="14"></div>
              <div class="black" data-sound-url="{{ url_for('static', filename='sounds/17.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 17)" data-note="17"></div>
          </div>
          <div class="keys-3">
              <div class="black" data-sound-url="{{ url_for('static', filename='sounds/20.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 20)" data-note="20"></div>
              <div class="black" data-sound-url="{{ url_for('static', filename='sounds/22.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 22)" data-note="22"></div>
              <div class="black" data-sound-url="{{ url_for('static', filename='sounds/24.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 24)" data-note="24"></div>
          </div>
          <div class="keys-2">
              <div class="black" data-sound-url="{{ url_for('static', filename='sounds/27.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 27)" data-note="27"></div>
              <div class="black" data-sound-url="{{ url_for('static', filename='sounds/29.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 29)" data-note="29"></div>
          </div>
          <div class="keys-3">
              <div class="black" data-sound-url="{{ url_for('static', filename='sounds/32.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 32)" data-note="32"></div>
              <div class="black" data-sound-url="{{ url_for('static', filename='sounds/34.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 34)" data-note="34"></div>
              <div class="black" data-sound-url="{{ url_for('static', filename='sounds/36.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 36)" data-note="36"></div>
          </div>
          <div class="keys-2">
              <div class="black" data-sound-url="{{ url_for('static', filename='sounds/39.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 39)" data-note="39"></div>
              <div class="black" data-sound-url="{{ url_for('static', filename='sounds/41.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 41)" data-note="41"></div>
          </div>
          <div class="keys-3">
              <div class="black" data-sound-url="{{ url_for('static', filename='sounds/44.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 44)" data-note="44"></div>
              <div class="black" data-sound-url="{{ url_for('static', filename='sounds/46.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 46)" data-note="46"></div>
              <div class="black" data-sound-url="{{ url_for('static', filename='sounds/48.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 48)" data-note="48"></div>
          </div>
          <div class="keys-2">
              <div class="black" data-sound-url="{{ url_for('static', filename='sounds/51.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 51)" data-note="51"></div>
              <div class="black" data-sound-url="{{ url_for('static', filename='sounds/53.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 53)" data-note="53"></div>
          </div>
          <div class="keys-3">
              <div class="black" data-sound-url="{{ url_for('static', filename='sounds/56.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 56)" data-note="56"></div>
              <div class="black" data-sound-url="{{ url_for('static', filename='sounds/58.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 58)" data-note="58"></div>
              <div class="black" data-sound-url="{{ url_for('static', filename='sounds/60.wav') }}" onmousedown="key(this.getAttribute('data-sound-url'), 60)" data-note="60"></div>
          </div>
      </div>
    </div>
      
    <!-- <div id="chart-container">
      <canvas id="distribution-graph"></canvas>
    </div> -->
    <canvas id="distribution-graph"></canvas>
    <div id="rolling-stats-history-graph-container">
      <canvas id="rolling-stats-history-graph"></canvas>
    </div>
  
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
</body>
</html>


